@page "/financialForcast"
@using FyFi.CustomerInterface.Classes

<h3>FinancialForcast</h3>


<input placeholder="Enter yearly salary..." @bind="userSalary" />
<input placeholder="Enter yearly super" @bind="userSuper" />
@* <input placeholder="Enter yearly expenses" @bind="userExpenses" /> *@
<input placeholder="Enter yearly savings" @bind="userSavings" />
<input placeholder="Enter current savings" @bind="userCurrentSavings" /> 

<button @onclick="ForcastFinances">Forcast</button>

<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Salary</th>
            <th>Super (Yearly)</th>
            @* <th>Super (Accrued)</th> *@

            @* <th>Expenses (Yearly)</th> *@

            <th>Savings (Yearly)</th>
            <th>Savings (Accrued)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < forcastYears.Count; i++)
        {
            <tr>
                <td>@forcastYears[i].Year</td>
                <td>@forcastYears[i].Salary</td>
                <td>@forcastYears[i].Super</td>
                @* <td>@superAccrued</td> *@

                @* <td>@forcastYears[i].Expenses</td> *@

                <td>@forcastYears[i].Savings</td>
                @if (i == 0)
                {
                    <td>@userCurrentSavings</td>
                }
                else
                {
                    <td>@(userCurrentSavings + (forcastYears[i].Savings * i)) </td>
                }
            </tr>
        }  



    </tbody>
</table>

@code {
    private int forcastPeriod = 5;
    private List<ForcastYear> forcastYears = new List<ForcastYear>(); 
    private decimal userSalary; 
    private decimal userSuper;
    // private decimal userExpenses;
    private decimal userSavings;
    private decimal userCurrentSavings; 
    private decimal savingsAccrued; 
    // private decimal superAccrued; 


    private void ForcastFinances()
    {
        //foreach year, the savings accrued will change 
        //Create a list of as many objects as forcast years 
        //Foreach item in list, calculate savings accrued = 
        forcastYears = new List<ForcastYear>();
        for (int i = 1; i < forcastPeriod; i++)
        {
            forcastYears.Add(new ForcastYear()
            {
                Year = i,
                Salary = userSalary, 
                Super = userSuper,
                // Expenses = userExpenses, 
                Savings = userSavings
            }); 
        }



        /*
         * savingsAccrued = previous year's savingsAccrued + userSavings
         * 
         * 
         */
        
    }

}
